footer{
    background-color: rgb(100, 100, 139);
}

body{
    color: white;
    background-color: rgb(97, 97, 97);
}
li {
    float: left;
  }
  nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;