footer{
    background-color: rgb(100, 100, 139);
}

body{
    color: white;
    background-color: rgb(78, 78, 78);
}

nav/a:link{
    color:rgb(167, 0, 0);
    text-decoration: none;
    background-color: rgb(209, 128, 21)) 20);
}

nav/a:hover{ 
    color: rgb(0, 0, 167);
    font-weight: bold;
}
