footer{
    background-color: rgb(100, 100, 139);
}

body{
    color: white;
    background-color: rgb(255, 207, 103);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffbb00;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #ffbb00;
  }
